<section class="services py-5">
	<div class="container py-sm-3">
		<h3 class="heading text-capitalize mb-lg-5 mb-4"> Our Services  </h3>
		<div class="row service-grids">
			<div class="col-lg-3 col-sm-6">
				<div class="service-grid1">
					<span class="fa fa-globe"></span>
					<h4 class="my-3">Pandits</h4>
					<p>
						When you're looking for a pandit who will help and guide you in the proceedings and methods of weddings and also offer you with help and services for making sure that the horoscopes of the couple are matching, this is where Wedding Bells </p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 ">
				<div class="service-grid1">
					<span class="fa fa-book"></span>
					<h4 class="my-3">Catering</h4>
					<p>Lajwaab Culinary Art, established by Rakesh Khurana in 1989, is a leading name for wedding catering and is based in Preet Vihar which is situated in East Delhi. Its long history of success is the result of the quality, excellence in service and valuable experience</p>				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="service-grid1">
					<span class="fa fa-diamond"></span>
					<h4 class="my-3">Entertainment</h4>
					<p>Don Bosco is a wedding DJ artist who is based in Najafgarh which is situated in West Delhi. He has been into this profession since the year 2002. If you're looking for a professional DJ for your nuptial ceremonies or wedding then this artist is perfect. </p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="service-grid1">
					<span class="fa fa-book"></span>
					<h4 class="my-3">Invitation Cards</h4>
					<p>Keshri & Aparna Invitations is a wedding invitation card company located in DLF Phase 4 which situated in the city of Gurgaon. Wedding invitations are something that should reflect the style and class of the wedding and has to be perfectly on point.</p>				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-5">
				<div class="service-grid1">
					<span class="fa fa-globe"></span>
					<h4 class="my-3">Transportaion</h4>
					<p>Modi Transport Company is a transportation company based in the Bara Bazar area of the Gurgaon city. Providing a wide range of transportation services, this company is the go-to option if you are looking for a wonderful transportation company to take you to your wedding destination</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-mt-5">
				<div class="service-grid1">
					<span class="fa fa-book"></span>
					<h4 class="my-3">Wedding Photography</h4>
					<p>Pineapple Media & communication is a company which specialises in capturing unique and valuable moments in wonderfully created wedding films. </p>				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-mt-5">
				<div class="service-grid1">
					<span class="fa fa-diamond"></span>
					<h4 class="my-3">Makeup</h4>
					<p>Meenakshi Dutt, Makeup Artist in Delhi, is a makeup queen who rules the makeup industry and creates magic with her work and makes everyone spellbound with her extraordinary talent. Optimally praised as a best Makeup Artist in Delhi, India  </p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-mt-5">
				<div class="service-grid1">
					<span class="fa fa-book"></span>
					<h4 class="my-3">Mehndi</h4>
					<p>Usha & ekta shah are the best mehndi artist 
					</p>				
				</div>
			</div>
		</div>
	</div>
</section>